* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #5B4264;
  color: #8698A6;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #847996;
}

.header a {
  color: #A7CAB1;
  text-decoration: none;
}

.header a:hover {
  color: #F4ECD6;
}

a, a:visited, a:active {
  font-weight: bold;
  color: #A7CAB1;
  text-decoration: none;
}

a, a:hover {
  color: #88B7B5;
}

.info {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.pageTitle {
  text-align: center;
}

.about, .companies, .products {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.assets {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.bezosCompanies {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.wealthBreakDown {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.bezosSalary {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cheapskate {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h4, h3, h2 {
  padding: 0px;
}

.points {
  background-color: #310A31;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  /* display: flex;
  height: auto;
  width: 50%;
  flex: 1; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin; */
}

.company {
  display: flex;
  justify-content: space-around;
}
